.vscode
.idea
cmake-build-debug
CMakeLists.txt
toolchains/*
!toolchains/README
!toolchains/nemu
software/random_res
sims/verilator/run_func/single.log
obj_dir
obj
log
*.log
*.out
output
*.mak
software/func/func_lab*/inst/*.s
